header {
    text-align: center;
    margin: 50px auto;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
  }
  
  .image {
    flex-basis: 60%;
    margin-right: 60px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .form {
    flex-basis: 60%;
  }
  
  form {
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #8c52ff;
    font-size: larger;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #555;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
  
  textarea {
    resize: none;
  }
  
  input[type="submit"] {
    background-color: #8c52ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
  }
  
  input[type="submit"]:hover {
    background-color: #8c52ff;
  }

  .image {
    opacity: 0;
  }
  
  .form {
    transform: translateY(50%);
    opacity: 0;
  }
  
  .loaded .image.fadein {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .loaded .form.slidein {
    animation: slideIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
